{% from "macros/svg_icons.html" import svg_container, svg_icon %}

{% set nav_items = [
  ("Artists", [
    ("/artists", "Search", true),
    ("/artists/updated", "Recently Updated", true),
    ("/artists/random", "Random", true),
  ]),
  ("Posts", [
    ("/posts", "Recently Posted", true),
    ("/favorites?type=post", "By Favorite Artists", true),
  ]),
  ("Favorites", [
    ("/favorites?type=post", "Posts", true),
    ("/favorites?type=artist", "Artists", true)
  ]),
  ("Requests", [
    ("/requests", "List", true),
    ("/requests/new", "Create New", true)
  ])
] %}

{% macro nav_list(class_name, navigation=nav_items) -%}
<ul class="nav-list {{ class_name }}">
  {% for section_name, list in navigation %}
    <li class="nav-list__item">
      <button class="nav-list__button">{{ section_name }}</button>
      <ul class="nav-list__sublist nav-list__sublist--hidden">
        {% for href, title, predicate in list %}
          {% if predicate %}
            <li class="nav-list__item">
              <a class="nav-list__link" href="{{ href }}" >
                {{ title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
{%- endmacro %}

{# TODO: move it into artist page #}
{# {% if request.endpoint == 'artists.get' %}
  <ul class="subheader">
    <li><a href="/posts/upload?service={{ props.service }}&user={{ props.id }}">[Upload file]</a></li>
  </ul>
{% endif %} #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta 
      name="viewport" 
      content="width=device-width, initial-scale=1"
    >
    <title>{{ props.name ~ " | Kemono" if props.name else "Kemono" }}</title>
    <link 
      rel="shortcut icon" 
      href="{{ url_for('static', filename='favicon.ico') }}"
    >
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
    {{ svg_container() }}
    {% if props.compatibility %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compatibility.css') }}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    {% endif %}
    {% if props.discord %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/discord.css') }}">
    {% endif %}
    {% if props.service %}
      <meta name="service" content="{{ props.service }}"/>
    {% endif %}
    {% if props.id %}
      <meta name="id" content="{{ props.id }}"/>
    {% endif %}
    {% if props.importId %}
      <meta name="importId" content="{{ props.importId }}"/>
    {% endif %}
    {% if props.count %}
      <meta name="count" content="{{ props.count }}"/>
    {% endif %}
    {% if props.posts|length %}
      {% if props.posts[0].published %}
        <meta name="published" content="{{ props.posts[0].published }}"/>
      {% endif %}
      <meta name="added" content="{{ props.posts[0].added }}"/>
      <meta name="id" content="{{ props.posts[0].id }}"/>
    {% endif %}
    {% block scripts %}
      <script src="{{ url_for('static', filename='js/global.js') }}" defer></script>
    {% endblock %}
    {% block scripts_extra %}
    {% endblock %}
  </head>
  <body>
    <header class="global-header">
      <nav class="global-header__navigation">
        <div class="global-header__logo">
          <a class="kemono-logo" href="/">
            <span class="kemono-logo__icon">
              {{ svg_icon("kemono-logo") }}
            </span>
            <span class="kemono-logo__title">
              Kemono
            </span>
          </a>
        </div>

        {{ nav_list("nav-list--mid") }}

        <ul class="nav-list nav-list--side">
          {% if is_logged_in() %}
            {# <li {{ 'class="current-page"'|safe if props.currentPage == 'help' }}><a href="{{ url_for('account.get_account') }}">Account</a></li> #}
            <li class="nav-list__item">
              <a class="nav-list__link" href="{{ url_for('account.logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-list__item">
              <a class="nav-list__link" href="{{ url_for('account.get_login') }}">Login</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% include 'components/flash_messages.html' %}
    </header>
    <main class="main" id="main">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="global-footer">
      <nav class="global-footer__navigation global-footer__navigation--hidden">
        {{ nav_list("nav-list--vertical ") }}
      </nav>
      <div class="global-footer__nav-switch">
        <button 
          class="global-footer__nav-button"
          type="button"
        >
          Navigation
        </button>
      </div>
    </footer>
  </body>
</html>