{% extends 'components/shell.html' %}
{% block content %}
<div class="views">
  {% include 'components/help_sidebar.html' %}
  <div class="page" id="page">
    <h1>About &amp; Frequently Asked Questions<br></h1>
    <p>
             <span class="subtitle">ｷﾀ━━━(ﾟ∀ﾟ)━━━!!</span></p><p><span class="subtitle">What is <span style="font-weight: bold;">Kemono</span>? <br></span></p><p><span style="font-weight: bold;">Kemono</span> is a scraper/leaker for
Patreon, Pixiv Fanbox, SubscribeStar, Gumroad, Discord, and DLsite.
Contributors here upload content from paywalls, and share it for
everyone.<br></p><p><strong>FAQ:</strong> <br>
</p>
<p>"Why can't I find a creator on Kemono?" <br>
</p>
<p>Try searching for the name as it appears on the pay-site or the URL,
as some artists are indexed by names in non-English languages. However,
note that not all artists are available on our site, as all of them
must be manually imported by contributors. The best you can do if you
can't find someone is to request them on the request thread on
Partychan, the request channel, or the request feature on the site.</p>
<p>"Why do I see error 5xx? (500, 502, 504, 525)"</p>
<p>These errors usually indicate something is either wrong with the
site, or database. This is usually due to either server traffic,
maintenance, or an outage. Usually, the Telegram group will allow you
to see what's happening, and why its happening. Please don't fret, it
is usually an easy fix but in the event it is not, please be patient.</p>
<p>

"Why are IRL porn creators not allowed?" <br>
</p>
<p>The focus of Kemono has always been art. Drawn, 3D, 2D, Animations,
ETC. IRL Porn is not allowed on the site due to them not being one of
the previously mentioned art-forms. Existing creators that post
majority IRL Pornographic material (Whether it be explicit nudity,
erotic non-fiction ASMR, or lewd cosplay) will be removed. <br>
</p>
<p>"My art has been uploaded here without my permission. Remove it or I will DMCA you"</p>
<p>Kemono.party has a strict policy regarding unauthorised uploading of
artists' works. This policy being, if it's been uploaded; good. If not,
then get to it. Kemono is a website which operates under the guise of
"Art shouldn't be kept behind a paywall, and should be available to the
public, akin to art kept in museums". Art is something that should be
kept safe and be able to be seen by everyone, regardless of country or
income. The harsh truth is, not everybody can afford to support their
favourite artists that keep their art behind a paywall, and this is one
of the reason this site exists. That, and the fact that art shouldn't
be blocked from anyone. Doing so is a breach of human rights, and
gravely frowned upon by the overwhelming majority. TL;DR, We run behind
many proxies... </p>
<p>
    </p>
  </div>
</div>
{% endblock %}
