{% extends 'components/shell.html' %}
{% block content %}
  <div class="page" id="page">
    <div class="jumbo">
      <p><br></p><p style="text-align: center;"><big><big><big><span style="text-decoration: underline;">
        Welcome to </span><strong style="text-decoration: underline;">Kemono</strong>!</big></big></big><br></p><p><span style="font-weight: bold;">Kemono</span> is a scraper/leaker for Patreon, Pixiv Fanbox, SubscribeStar, Gumroad, Discord, and DLsite. Contributors here upload content from paywalls, and share it for everyone.<br>
        To get started viewing paywalled content, either search for creators on the <strong>[Artists]</strong> tab, or search for content on the <strong>[Recent Posts]</strong> tab.<br>
        If you want to contribute content, click the <strong>[Import]</strong> tab.
      </p>
      
      <p style="text-align: center;">
        <big style="text-decoration: underline;"><big><strong><br></strong></big></big></p><p style="text-align: center;"><big style="text-decoration: underline;"><big><strong>kemono.party rules:</strong></big></big><br></p><p>
1. Do not post, request, or link to any content that is illegal in the United States of America. <br></p><p>2. Posting or requesting real porn is not allowed. If found uploaded, it will subsequently be deleted and the creator banned, being unable to be re-imported. <br></p><p>3. Posting files using the "Upload a file" feature must be a file of the creator it relates to. Spam will NOT be tolerated. <br></p><p>4. Large archives must be compressed to a zip, 7z, rar, or other when uploaded through the "Upload a file"<br>feature.<br></p><p>5. Do not request outside of the Request page, Request thread on paywall.party, or the Request channel on Telegram
.</p><p style="text-align: center;">
BY USING THE SITE, YOU AGREE TO ABIDE BY THE RULES ABOVE. <br></p><br></div>
  </div>
{% endblock %}
