{% extends 'components/shell.html' %}
{% block content %}
<section class="site-section site-section--register">
  <h1 class="site-section__heading">Register</h1>
  <p class="site-section__register-cta">
    Already have an account? <a href="{{ url_for('account.get_login') + props.query_string }}">Log in!</a>
  </p>
  <form 
    id="register_form" 
    class="form" 
    method="POST" 
    action="{{ url_for('account.post_register') }}"
  >
    <input 
      type="hidden" 
      id="serialized-favorites" 
      name="favorites"
    />
    <div class="form__section">
      <label class="form__label" for="new-username">Username:</label>
      <input 
        id="new-username"
        class="form__input" 
        type="text" 
        name="username" 
        value="{{ request.form['username'] }}"
      />
    </div>

    <div class="form__section">
      <label class="form__label" for="new-password">Password:</label>
      <input 
        id="new-password"
        class="form__input" 
        type="password" 
        name="password"
      >
    </div>
    <div class="form__section">
      <label class="form__label" for="confirm-password">Confirm Password:</label>
      <input 
        id="confirm-password"
        class="form__input" 
        type="password" 
        name="confirm_password"
      >
    </div>
    <div class="form__section">
      <button 
        class="form__button form__button--submit"
        type="submit"
      >Register</button>
    </div>
  </form>
  
</section>
{% endblock %}
