{% extends 'components/shell.html' %}
{% block content %}
<h1>Requests list</h1>
<section class="page requests-list" id="page" >
  <form
    autocomplete="on"
    class="form"
    novalidate="novalidate"
    action="/requests"
    method="get"
    onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted"
  >
    <div class="form__section" >
      <label
        class="form__label"
        for="q"
      >
        Title
      </label>
      <input
        class="form__input form__input--text"
        type="text"
        name="q"
        id="q"
        autocomplete="off"
        value="{{ request.args.get('q') if request.args.get('q') }}"
      >
      <small class="form__subtitle">Leave blank to list all.</small>
    </div>

    <div class="form__section">
      <button 
        class="form__button form__button--button" 
        type="button"
      >
        Options
      </button>
    </div>

    <fieldset
      class="form__options form__options--hidden"
    >
      <div class="form__section" >
        <label 
          for="service" 
          class="form__label"
        >
          Service
        </label>
        <select 
          id="service" class="form__select" name="service"
        >
          <option value="">All</option>
          <option value="patreon" {{ 'selected' if request.args.get('service') == 'patreon' }}>Patreon</option>
          <option value="fanbox" {{ 'selected' if request.args.get('service') == 'fanbox' }}>Pixiv Fanbox</option>
          <option value="gumroad" {{ 'selected' if request.args.get('service') == 'gumroad' }}>Gumroad</option>
          <option value="subscribestar" {{ 'selected' if request.args.get('service') == 'subscribestar' }}>SubscribeStar</option>
          <option value="discord" {{ 'selected' if request.args.get('service') == 'discord' }}>Discord</option>
          <option value="dlsite" {{ 'selected' if request.args.get('service') == 'dlsite' }}>DLsite</option>
        </select>
      </div>

      <div class="form__section" >
        <label for="sort_by" class="form__label">
          Sort by
        </label>
        <select class="form__select" id="sort_by" name="sort_by">
          <option value="votes">Votes</option>
          <option value="created" {{ 'selected' if request.args.get('sort_by') == 'created' }}>Date posted</option>
          <option value="price" {{ 'selected' if request.args.get('sort_by') == 'price' }}>Price</option>
        </select>
      </div>

      <div class="form__section">
        <label for="order" class="form__label">
          Order
        </label>
        <select id="order" class="form__select" name="order">
          <option value="asc" {{ 'selected' if request.args.get('order') == 'asc' }}>Ascending</option>
          <option value="desc" {{ 'selected' if request.args.get('order') == 'desc' or request.args.get('order') is none }}>Descending</option>
        </select>
      </div>

      <fieldset 
        class="form__section form__section--fieldset"
      >
        <legend class="form__legend">Status</legend>

        <div class="form__section form__section--radio">
          <input 
            id="status-open"
            class="form__input form__input--radio"
            type="radio" 
            name="status" 
            value="open" {{ 'checked' if request.args.get('status') == 'open' or request.args.get('status') is none }}
          >
          <label for="status-open" class="form__label">
            Open
          </label>
        </div>

        <div class="form__section form__section--radio">
          <input 
            id="status-fulfilled"
            class="form__input form__input--radio" 
            type="radio" 
            name="status" 
            value="fulfilled" {{ 'checked' if request.args.get('status') == 'fulfilled' }}
          >
          <label for="status-fulfilled" class="form__label">
            Fulfilled
          </label>
        </div>

        <div class="form__section form__section--radio">
          <input 
            id="status-closed"
            class="form__input form__input--radio" 
            type="radio" 
            name="status" 
            value="closed" {{ 'checked' if request.args.get('status') == 'closed' }}
          >
          <label for="status-closed" class="form__label">
            Closed
          </label>
        </div>

      </fieldset>

      <div class="form__section" >
        <label for="max_price">Max Price</label>
        <div 
          class="input-wrapper input-wrapper--money"
          style="--input-currency: '$';"
        >
          <input
            id="max_price"
            class="form__input"
            type="number"
            name="max_price"
            min="0"
            max="10000"
            step="0.01"
            value="{{ request.args.get('max_price') }}"
            required
          >
          {# <datalist id="money-list">
            <option value="10">
            <option value="50">
            <option value="100">
            <option value="500">
            <option value="1000">
            <option value="5000">
            <option value="10000">
          </datalist> #}
        </div>

      </div>

    </fieldset>
    
    <div class="form__section" >
      <button 
        type="submit"
        class="form__button form__button--submit" 
        name="commit" 
        data-disable-with="Search"
      >
        Search
      </button>
    </div>
    
  </form>
  <div class="vertical-views">
    <div class="paginator" id="paginator-top">
      {% include 'components/paginator.html' %}
    </div>
    <table class="search-results" width="100%">
      <thead>
        <tr>
          <th width="100px"></th>
          <th></th>
          <th>Status</th>
          <th>Price</th>
          <th>Votes</th>
          <th>Notifications</th>
        </tr>
      </thead>
      <tbody>
        {% if results|length == 0 %}
          <tr>
            <td></td>
            <td class="subtitle">No more requests for your query.</td>
          </tr>
        {% else %}
          {% for ticket in results %}
            <tr class="artist-row">
              <td>
                {% if ticket.get('image') %}
                  <a href="{{ ticket.get('image') }}" target="_blank">
                  {# Thumbnails temporarily removed #}
                    <img src="{{ ticket.get('image') }}">
                  </a>
                {% else %}
                  <span class="subtitle">No image</span>
                {% endif %}
              </td>
              <td>
                <a href="{{ {
                  'patreon': 'https://www.patreon.com/posts/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://www.patreon.com/user?u=' ~ ticket.get('user'),
                  'fanbox': 'https://www.pixiv.net/fanbox/creator/' ~ ticket.get('user') ~ '/post/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://www.pixiv.net/fanbox/creator/' ~ ticket.get('user'),
                  'gumroad': 'https://gumroad.com/l/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://gumroad.com/' ~ ticket.get('user'),
                  'subscribestar': 'https://subscribestar.adult/posts/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://subscribestar.adult/' ~ ticket.get('user'),
                  'dlsite': 'https://www.dlsite.com/ecchi-eng/work/=/product_id/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://www.dlsite.com/eng/circle/profile/=/maker_id/' ~ ticket.get('user')
                }.get(ticket.get('service')) }}"
                  target="_blank"
                >
                  <strong>{{ ticket.get('title') }}</strong><span class="subtitle"> {{ {
                    'patreon': 'Patreon',
                    'fanbox': 'Pixiv Fanbox',
                    'subscribestar': 'SubscribeStar',
                    'gumroad': 'Gumroad',
                    'discord': 'Discord',
                    'dlsite': 'DLsite'
                  }.get(ticket.get('service')) }}</span>
                  <br>
                  {% if ticket.get('description') %}
                    <small>{{ ticket.get('description')|safe }}</small><br>
                  {% endif %}
                  <small class="subtitle">{{ ticket.get('created') }}</small>
                </a>
              </td>
              <td>
                {{ {
                  'open': '<span style="color:#cc0">Open</span>'|safe,
                  'fulfilled': '<span style="color:#0f0">Fulfilled</span>'|safe,
                  'closed': '<span style="color:#ff6961">Closed</span>'|safe
                }.get(ticket.get('status')) }}
              </td>
              <td>
                {% if ticket.get('price') <= 5 %}
                  {% set value = '0f0' %}
                {% elif ticket.get('price') <= 20 %}
                  {% set value = 'cc0' %}
                {% else %}
                  {% set value = 'ff6961' %}
                {% endif %}
                <span style="color:#{{ value }}">{{ '$%.2f'|format(ticket.get('price')) }}</span>
              </td>
              <td>
                <form
                  action="/requests/{{ ticket.get('id') }}/vote_up"
                  method="post"
                  onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted"
                >
                  <span>{{ ticket.get('votes') }} {{ 'vote' if ticket.get('votes') == 1 else 'votes' }}</span>
                  <label class="a" style="cursor:pointer" for="voteup-{{ ticket.get('id') }}">(+)</label>
                  <button type="submit" id="voteup-{{ ticket.get('id') }}" style="display:none"></button>
                </form>
              </td>
              <td>
                {# TODO: Reimplement push requests
                {% if ticket.get('status') == 'open' %}
                  <a href="javascript:subscribeToRequestStatus('{{ ticket.get('id') }}');">Subscribe</a><br>
                  <small class="subtitle">May not work on older browsers or privacy-centric forks.</small>
                {% else %}
                  <span class="subtitle">Request completed.</span>
                {% endif %}
                #}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <div class="paginator" id="paginator-bottom">
      {% include 'components/paginator.html' %}
    </div>
  </div>
</section>
{# <script src="{{ url_for('static', filename='js/swreg.js') }}"></script> #}
{% endblock %}