{% extends 'components/shell.html' %}
{% block content %}
<h1>Upload a file</h1>
<section class="page post-upload" id="page">
  
  <form
    class="form form--full-page"
    action="/api/upload"
    enctype="multipart/form-data"
    method="post"
    onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted"
  >
    <p>
      If content for a user is distributed by means inaccessible by the <a href="/importer">importers</a> (like email or private message), you can upload the files manually here.
    </p>
    {% if request.args.get('service') %}
      <div>
        <input
          type="hidden"
          name="service"
          value="{{ request.args.get('service') }}"
        >
      </div>
    {% else %}
      <div class="form__section" >
        <label 
          class="form__label" 
          for="service"
        >
          Service
        </label>
        <select 
          id="service" 
          class="form__select" 
          name="service"
        >
          <option value="patreon" selected>Patreon</option>
          <option value="fanbox">Pixiv Fanbox</option>
          <option value="gumroad">Gumroad</option>
          <option value="subscribestar">SubscribeStar</option>
          <option value="dlsite">DLsite</option>
        </select>
      </div>
    {% endif %}

    {% if request.args.get('user') %}
      <div>
        <input
          type="hidden"
          name="user"
          value="{{ request.args.get('user') }}"
        >
      </div>
    {% else %}
      <div class="form__section">
        <label 
          class="form__label" 
          for="user"
        >
          User ID
        </label>
        <input 
          id="user"
          class="form__input"
          type="text"
          name="user"
          required
        >
      </div>
    {% endif %}
    
    <div class="form__section">
      <label 
        class="form__label" 
        for="title"
      >
        Title
      </label>
      <input 
        id="title"
        class="form__input"
        type="text"
        name="title"
        maxlength="50"
        required
      >
      <small class="form__subtitle">
        "February 2016 Rewards"
      </small>
    </div>

    <div class="form__section">
      <label 
        class="form__label" for="content"
      >
        Description
      </label>
      <small class="form__subtitle">
        Specify what the file/archive is, where the original post can be found, include relevant keys/passwords, etc.
      </small>
      <textarea
        id="content"
        class="form__text-area"
        name="content"
        maxlength="5000"
        cols="48"
        rows="4"
        wrap="soft"
      ></textarea>
    </div>

    <div 
      class="form__section form__section--file"
    >
      <input
        id="file"
        class="form__input"
        type="file"
        name="file"
        required
      >
      <label 
        class="form__label" 
        for="file"
      >
        File (2GB size limit)
      </label>
    </div>
    <div class="form__section">
      <button
        class="form__button form__button--submit"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %}